# Configuración de TempMailG
TEMPMAILG_URL=https://tempmailg.com/es

# Configuración de Selenium
CHROME_DRIVER_PATH=/usr/local/bin/chromedriver
HEADLESS_MODE=True

# Configuración de la base de datos
DB_PATH=/app/data/emails.db
